{% extends 'main.html' %}

{% load staticfiles %}
{% load static %}

{% block errors404 %}
	
	<!--start wrapper-->
	<section class="wrapper">
        <section class="page_head" data-href="images/page_header.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="page_title">
                            <h2>404</h2>
                            <span class="sub_heading">Page not found</span>
                        </div>
                        <nav id="breadcrumbs">
                            <ul>
                                <li>You are here:</li>
                                <li><a href="index.html">Home</a></li>
                                <li>Pages</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

		<section class="content not_found">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-12 col-md-12">
						<div class="page_404">
							<h1>404</h1>
							<p>Sorry, Page you're looking for is not found</p>
							<a href="#" class="btn btn-default btn-lg">
								<i class="fa fa-arrow-circle-o-left"></i>
								Go to Back
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

        <section class="promo_box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="promo_content">
                            <h3>Velocity is awesome responsive template, with refreshingly clean design.</h3>
                            <p>Lorem ipsum dolor sit amet, cons adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="pb_action">
                            <a class="btn btn-lg btn-default" href="#fakelink">
                                <i class="fa fa-shopping-cart"></i>
                                Download Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	</section><!--end wrapper-->
{% endblock %}
